
.btn {
  display: inline-block;
  padding: 8px 20px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.form-control {
  margin: 12px;
  display: block;
  width: 97%;
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.post {
  margin-bottom: 1rem;
  margin-top: 1rem;
  background-color: #ffccff;
  padding: 0 0 10px 30px;
  height: auto;
  width: auto;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
h1 {
  color: red;
}
.form-inline .form-control {
  display: inline-block;
  width: 496px;
  vertical-align: middle;
  margin-bottom: 20px;

}
.form-group {
   margin-top: 30px;
}
.abc {
  background-color: #808080;
}
.btn-google {
  margin-top: 10px;
  color: #fff;
  background-color: #dd4b39;
  border-color: rgba(0,0,0,0.2);
  float: left;
}
.btn-facebook {
  margin-top: 10px;
  color: #fff;
  border-color: rgba(0,0,0,0.2);
  margin: 10px 20px 0 10px;
}
h3 {
  color: green;
}